.header{
	font-family: "GillSans";
	/*background: yellow;*/
	padding: 50px 0;
}

.header__title{
	font-weight: 200;
	font-size: 30px;
	margin: 0;
	letter-spacing: 12px;
}
@media screen and (min-width: 600px){
	.header{
		padding: 60px 0;
	}
	
	.header__title{
		font-size: 42px;
	}
}

@media screen and (min-width: 1000px){
	
	.header{
		padding: 70px 0;
	}
	.header__title{
		font-size: 54px;
	}
}
