$theme-yellow: rgba(254, 205, 47, 1);
$theme-grey: #ababab;

$color-twitter: rgba(56, 169, 238, 1);
$color-facebook: rgba(66, 84, 153, 1);
$color-instagram: rgba(87, 125, 165, 1);

$theme-font: "GillSans", "Avenir", "sans-serif" ;
$article-title-font: "Helvetica Neue", "Helvetica", "sans-serif";
$article-font: "Georgia", "Palatino", "serif";

